<!-- <div class="settings">
  <label>Count</label>
  <input data-test-initial-count type="text" [(ngModel)]="initialCount">

  <a data-test-show-counter class="waves-effect waves-light btn-small" (click)="show()">Show</a>
  <a data-test-hide-counter class="waves-effect waves-light btn-small" (click)="counterHidden = false">Hide</a>
</div>


<counter *ngIf="counterHidden" [title]="'MyCounter'" [count]="currentCount" [validation]="countValidation"
  (add)="currentCount = currentCount+1"></counter> -->